@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("roboto"), local("roboto"),
    url("./assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/roboto-regular-webfont.woff") format("woff"),
    url("./assets/fonts/roboto-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("roboto-bold"), local("roboto-bold"),
    url("./assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/roboto-bold-webfont.woff") format("woff"),
    url("./assets/fonts/roboto-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sourcesanspro";
  font-style: normal;
  font-weight: 400;
  src: local("sourcesanspro-regular"), local("sourcesanspro-regular"),
    url("./assets/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/sourcesanspro-regular-webfont.woff") format("woff"),
    url("./assets/fonts/sourcesanspro-regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1000px;
}

h1 {
  margin: 0px 0 16px 0;
  font-size: 22px;
  font-family: "Lato";
  letter-spacing: 0.5px;
  font-weight: 100;
}

p {
  font-weight: 100;
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

b {
  font-weight: 400;
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  width: 100%;
}

/*new*/
.inputElm:focus {
  outline: none;
}

.forgotYourPassword {
  width: 124px;
  height: 14px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #317bda;
  float: right;
}

.rememberMe {
  width: 79px;
  height: 14px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7289;
}

/* toggle button */
.switch {
  float: left;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 10px;
  outline: none;
}
.switch input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: rgba(255, 255, 255, 0.2);
}
input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
